{{ define "main" }}

<p>
    Dies ist ein Test zu den Bildergalerien<br>
    Die 1. Lösung ist es den Markdown renderer zu überschreiben, sodass auf einer bestimmten Seite Bilder anders dargestellt werden
    Hierzu müssen dann die Bilder aber wohl im .Content der zugehörigen Seite liegen.
    Die alternative wäre wohl das einlesen von einem Data File mit mehreren Regex operationen.
</p>


<p>In Forestry sieht das dann So aus:</p>
<img src="/img/test.jpg">


<h1>.Content</h1>
{{ .Content}}



<h1>Einlesen einer Datei "/data/fotogalerie.md":</h1>
{{ $photos := readFile "/data/fotogalerie.md" }}
{{ $photos := (replaceRE `---[\S\s]+---` "" $photos) }}
<p>{{ $photos }}</p>
{{ $photos := markdownify $photos }}
{{ $photos}}
</div>

    <!-- Bootstrap Lightbox by ahsleydw MIT License-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
	<!-- ** Lightbox Script ** -->
	<script>
		$(document).on("click", '[data-toggle="lightbox"]', function(event) {
		  event.preventDefault();
		  $(this).ekkoLightbox();
        });
    </script>
{{ end }}