{{ define "main" }}

<p>
    Dies ist ein Test zu den Bildergalerien<br>
    Die hier dargestellte Lösung ist den Markdown renderer für Bilder zu überschreiben, sodass auf einer bestimmten Seite Bilder anders dargestellt werden.
</p>


<p>In Forestry sieht das dann So aus:</p>
<img src="/img/test.jpg" title="Dieses bild ist nicht in der Lightbox weil es hardgecoded ist ;)">
<p>Das mag in gewisser Weise der Eleganteste Weg sein die Bildergallerie aufzubauen, aber der Kunde kann hier prinzipiell auch Text oder Absätze einbauen die das Layout dann beeinflussen...</p>

<h1>.Content:</h1>
{{ .Content}}



<h1>Einlesen einer Datei "/data/fotogalerie.md":</h1>
{{ $photos := readFile "/data/fotogalerie.md" }}
{{ $photos := (replaceRE `---[\S\s]+---` "" $photos) }}
<p>{{ $photos }}</p>
{{/* $photos := markdownify $photos */}}
{{ .RenderString $photos}}
</div>

    <!-- Bootstrap Lightbox by ahsleydw MIT License-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
	<!-- ** Lightbox Script ** -->
	<script>
		$(document).on("click", '[data-toggle="lightbox"]', function(event) {
		  event.preventDefault();
		  $(this).ekkoLightbox();
        });
    </script>
{{ end }}