{{ define "main" }}

<div>
    <h1>Hinweis</h1>
    <p>{{ .Param "hint" }}</p>
</div>

<h1>{{ .Title }}</h1>


{{range .Param "gallery"}}
    {{ $test := print (.)}}
    {{ with $}}
            {{ $originalimg := resources.GetMatch ($test | safeHTML) }}
            {{$.Scratch.Set "image" ($originalimg.Fill "120x120 Center") }}
            {{ $thumbnail := $.Scratch.Get "image" }}
            <a class="gallery" href="{{$test}}">
                <img src='{{ $thumbnail.RelPermalink }}'>
            </a>
    {{ end }}
{{ end }}

{{ end }}