{{ define "main" }}

<div>
    <h1>Hinweis</h1>
    <p>{{ .Param "hint" }}</p>
</div>

<h1>{{ .Title }}</h1>


{{range .Param "gallery"}}
    {{ $url := . }}
    {{ $test := print (.)}}
    {{ with $}}
        {{if (resources.GetMatch $test)}}
            {{ $originalimg := resources.GetMatch $test }}
            {{$.Scratch.Set "image" ($originalimg.Fill "120x120 Center") }}
            {{ $thumbnail := $.Scratch.Get "image" }}
            <a class="gallery" href="{{$url}}">
                <img src='{{ $thumbnail.RelPermalink }}'>
            </a>
        {{ else }}
            <script>console.log("Error")</script>
        {{ end }}
    {{ end }}
{{ end }}

{{ end }}